<script context="module">
    import {writable} from "svelte/store";
    import uuid from "../Lib/uuid";
    import {tick} from 'svelte';

    let Confirmations = writable([]);

    let evt;

    export async function Confirm(message, is_alert) {
        let confirmation;
        return new Promise(async (resolve, reject) => {
            let handleEscape = (e) => {
                if (e.key == "Escape") {
                    reject();
                }
            }

            confirmation = {
                id: uuid(),
                message: message,
                save: resolve,
                cancel: reject,
                handleEscape,
                is_alert
            }
            Confirmations.update((c) => [...c, confirmation]);

            await tick();

            document.querySelector(`#confirmation-${confirmation.id} .button.is-success`).focus();
        }).finally(() => {
            Confirmations.update((c) => c.filter((con) => con !== confirmation))
        })
    }
</script>

{#each $Confirmations as confirm (confirm.id)}
    <div class="modal is-active" id="confirmation-{confirm.id}" on:keydown="{confirm.handleEscape}">
        <div class="modal-background" on:click={confirm.cancel}></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    {#if confirm.is_alert}
                        Alert!
                    {:else}
                        Are you sure?
                    {/if}
                </p>
                <button class="delete" aria-label="close" on:click={confirm.cancel}></button>
            </header>
            <section class="modal-card-body">
                <p class="is-size-4">{confirm.message}</p>
            </section>
            <footer class="modal-card-foot">
                {#if confirm.is_alert}
                    <button class="button is-success" on:click={confirm.save}>Okay</button>
                {:else}
                    <button class="button" on:click={confirm.cancel}>No</button>
                    <button class="button is-success" on:click={confirm.save}>Yes</button>
                {/if}
            </footer>
        </div>
    </div>
{/each}

<style>
    .modal-card-foot {
        justify-content: flex-end;
    }

    .modal {
        z-index: 999;
    }
</style>