.<script>
    import { onMount } from 'svelte';

    import Loader from '../Components/Loader.svelte';
	import { addFormModal } from '../Components/Forms/ModalFormManager.svelte';
	import SortableTable from '../Components/SortableTable.svelte';
	import { notifier } from "@beyonk/svelte-notifications";

	import Todo from '../Models/TodoModel';

	const fields = Todo.constructor.fields;

	const todos = Todo.getList();

	function addList() {
		addFormModal({
			fields,
			title: "Add List"
		}).then(data => {
			Todo.createItem(data).then(() => {
				notifier.success("List Created!");
			})
		});
	}

	function editList(list) {
		addFormModal({
			fields,
			title: "Edit List",
			data: list
		}).then(data => {
			Todo.save(data).then(() => {
				notifier.success("List Updated!");
			});
		})
	}

	function deleteList(list) {
        Confirm(`Are you sure you want to delete ${list.name}?`).then(() => {
            Todo.delete(list._id).then(() => {
                notifier.success("List Deleted");
            });
        });
    }
</script>

<Loader loading={!$todos}>
    <SortableTable {fields} tableData={$todos} actionsWidth="300">
        <div slot="footerActions">
            <div class="buttons is-right">
                <button class="button is-success" on:click={addList}>Add </button>
            </div>
        </div>

        <div slot="rowActions" let:row={list} class="buttons is-right">
            <a class="button is-primary" href="#/List/{list._id}">Open</a>
            <button class="button is-info" on:click={() => editList(list)}>Edit</button>
            <button class="button is-danger" on:click={() => deleteList(list)}>Delete</button>
        </div>
    </SortableTable>
</Loader>
