<script>
    import Loader from '../Components/Loader.svelte';
    import SortableTable from '../Components/SortableTable.svelte';
    import { addFormModal } from '../Components/Forms/ModalFormManager.svelte';
    import { notifier } from '@beyonk/svelte-notifications';
    import { Confirm } from '../Components/Confirmation.svelte';

    import Todo from "../Models/TodoModel";
    import { onDestroy } from 'svelte';

    export let params;

    let todoDetails;
    let todoList;
    let todoItems;

    let unsubParent;
    let unsub;

    const fields = Todo.constructor.fields;

    function loadItems(id) {
        if (unsubParent) {
            unsubParent();
            unsubParent = null;
        }


        unsubParent = Todo.getStore(id).subscribe((t) => {
            // store is initially undefined;
            if (!t) return;

            todoList = t;

            if (unsub) {
                unsub();
                unsub = null;
            }


            unsub = t.subscribe(({details, children}) => {
                todoItems = children;
                todoDetails = details;
            });
        });
    }

    function addItem() {
        addFormModal({
            fields
        }).then((data) => {
            todoList.addChild(data).then(() => {
                notifier.success("Item Added");
            })
        });
    }

    function editItem(item) {
        addFormModal({
            fields,
            data: item.details
        }).then((data) => {
            item.save(data).then(() => {
                notifier.success("Item Updated");
            })
        })
    }

    function deleteItem(item) {
        Confirm(`Are you sure you want to delete ${item.details.name}?`).then(() => {
            item.delete().then(() => {
                notifier.success("Item Removed");
            })
        })
    }

    // we don't use onMount since params can change
    // without a reload (e.g. by manually changing the URL)
    $: loadItems(params.id);

    onDestroy(() => {
        unsub();
        unsubParent();
    })
</script>

<Loader loading={!todoList}>
    <h1 class="title is-1">{todoDetails.name}</h1>

    <SortableTable tableData={[...todoItems]} {fields} ORM={true} actionsWidth=200>
        <div slot="filterActions" class="buttons is-right">
            <button class="button is-success" on:click={addItem}>Add Item</button>
        </div>
        <div slot="rowActions" class="buttons is-right" let:row={item}>
            <button class="button is-info" on:click={() => editItem(item)}>Edit</button>
            <button class="button is-danger" on:click={() => deleteItem(item)}>Delete</button>
        </div>
    </SortableTable>
</Loader>