<script>
	import { NotificationDisplay } from "@beyonk/svelte-notifications";
	import Confirmation, { Confirm } from './Components/Confirmation.svelte';
	import ModalManager from './Components/ModalManager.svelte';
	import Router from "svelte-spa-router";

	import TodoList from './Todos/TodoList.svelte';
	import TodoItems from './Todos/TodoItems.svelte';

	const routes = {
		'/': TodoList,
		'/List/:id': TodoItems
	}
</script>

<section class="section">
	<div class="container">
		<Router {routes} />
	</div>
</section>

<ModalManager />
<NotificationDisplay />
<Confirmation />
